html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    height:100vh;
    display:flex;
    align-items:center;
    flex-direction:column;
    flex-wrap:wrap;
}

#home {
    background-color:blue
}

#bio {
    background-color:aquamarine;
}

#portfolio {
    background-color: aqua;
}

#contact {
    background-color: blanchedalmond;
}
