
html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
    border-width:1px;
    border-style:solid;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav, ul {
    display:flex;
    flex-direction:row;
}

ul {
    list-style-type:none;
}

nav {
    justify-content: space-between;
    position:fixed
}